.header-container{
    background-image: url('../../images/education.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    padding: 220px;
}
.world{
    font-size: 62px;
    color: rgb(255, 178, 35);
    font-weight: 700;
}
.title h1{
    font-size: 62px;
    font-weight: 700;
    color: white;
}
.title p{
    color: rgb(226, 223, 223);
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 25px;
}
.title button{
    border: 1px solid rgb(26, 41, 53);
    padding: 12px 34px;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.11);
    color: white;
    margin-top: 50px;
    
}
.title button:hover{
    background-color: rgb(209, 60, 60);
    transition: 1s;
    border: 1px solid rgb(211, 208, 208);
    color: rgb(228, 220, 220);
}
